body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header, section, footer {
    padding: 20px;
    text-align: center;
}

#productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

article {
    width: 300px;
    margin: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
}

/* Media Query para hacer el contenido responsivo */
@media only screen and (max-width: 600px) {
    #productos {
        flex-direction: column;
    }

    article {
        width: 100%;
    }
}
